<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" title="&lt;asd&gt;">
        <p>Modal body a&nbsp;b text goes here.</p>
        <br selected contenteditable>
        <input value='500'>
        <!-- comment -->
      </div>
      <div class="modal-footer" style='qwe:asd; a:1'>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" disabled readonly>
            Save
            changes
        </button>
      </div>
    </div>
  </div>
</div>

<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
